/* Main Page Styles */

body {
    background-color: #e8e8e8;
}

#content {
    color: #333a56;
    margin-left: 3rem;
    margin-right: 3rem;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.25em;
}

/* Chort Chart Styles */
table {
    background-color: white;
}

.pure-table thead {
    border-bottom: 1px solid #cbcbcb;
}

th[scope="row"] {
    border-bottom: 1px solid #cbcbcb;
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
}

th[scope="col"] {
    background-color: #333a56;
}

.category {
    text-align: center;
    width: 100%;
}

.pure-table td {
    text-align: center;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #8598c2;
}

/* small */
@media (min-width: 768px) {
td, th[scope="row"] {
    height: 75px;
    width: 75px;
}
}

/* medium */
@media (min-width: 992px) {
td, th[scope="row"] {
    height: 100px;
    width: 100px;
}
}

/* large */
@media (min-width: 1200px) {
td, th[scope="row"] {
    height: 125px;
    width: 125px;
}
}

.pure-button {
    background-color: white;
}

.clear-buttons {
    float: right;
}

.clear-buttons .pure-button {
    margin: 0.5rem;
}
