/* Chore Chart base styles */

.pure-table thead {
    border-bottom: 1px solid #cbcbcb;
}

th[scope="row"] {
    border-bottom: 1px solid #cbcbcb;
    text-align: left;
}

input {
    text-align: center;
    width: 125px;
}